.socials {
    background-color: var(--color-bg);

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-top: 1px rgb(252, 252, 139) solid;
    border-bottom: 1px rgb(252, 252, 139) solid;
}

.socials .icon {
    color: rgb(252, 252, 139);
    margin: 20px 0 20px 0;
    height: 60px;
    width: 60px;
}

/* =========media querries========== */
@media screen and (max-width: 420px) {
    .socials {
        gap: 20px;

    }

    .socials .icon {
        color: var(--color-blue);
        margin: 12px 0 12px 0;
        height: 40px;
        width: 40px;
    }
}